
<div class="media">
  <div class="media-left media-middle">
    <!-- <a href="#"> -->
      <!-- <img class="media-object" src="..." alt="..."> -->
    <!-- </a> -->
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= comment.commenter %></h4>
    <p><%= comment.body %></p>
    <% if current_user %>
      <%= link_to '删除', article_comment_path(@article), method: :delete, class: "small" %>
    <% end %>
  </div>
</div>
